html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
header
{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
padding-left: 0%;
}
header img
{
    width: 268px;
    height: 33px;
    vertical-align: middle;
}
.hdiv
{
display: flex;
justify-content: space-around;
align-items: center;
gap: 24px;
}
a
{
text-decoration: none;
}
#About, #Career:hover, #Departments:hover
{
    color: #00b39b;
    text-decoration: none;
}
#Career
{
    color: #ababab;
}
#Departments
{
    color: #ababab;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 128px;
}
#logo
{
width: 45px;
height: 45px;
}
.h1
{
    color: #00b39b;
    font-size: 52.64px;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
}
.twop {
    color: #747474;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    width: 100%;
    justify-content: space-between;
}
#p1
{
padding-right: 40px;

}
.sec2
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    margin: 60px auto 40px;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}
section2
{
    width: 25px;
    height: auto;
    display: flex;
    flex-direction: row;
}
#div1
{
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
#patientss
{
     margin-top: 20px;
     
     
}
#patientp
{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
#div1 select
{
    background-color: #00ccb1;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
}
select
{
    color: inherit;
    font: inherit;
    margin: 0;
}
#div2
{
    background-color: #3d83df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
#div2 img
{
    height: 24;
}
#doctorss
{
    margin-top: 20px;
}
#div2 select
{
    background-color: #3d83df;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
}
#div3
{
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
#clinics
{
    margin-top: 20px;   
}
#p6
{
font-size: 20px;
font-weight: -20;
}
#div3 select
{
    background-color: #1b2734;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
}
.section3
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; 
}
#sec3_text
{
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;

}
#sec3_logos
{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    width: 500px;
}
#sec3_logos img
{
    width: 7.5rem;
    object-fit: contain;

}
#lol
{
    width: 60%;
    display: flex;
}
#p20
{
    font-size: 100%;
    width: 300px;
}
.section4
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
}
#sec4_left
{
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
#h2
{
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-left: 50px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-family: inherit;
}
.p7
{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
}
img
{
    vertical-align: middle;
}
.sec4_right
{
    display: flex;
    margin-right: 50px;
    height: 100%;
    justify-content: space-around;
    margin-left: 100px;
}
.sec4_right div
{
    height: 500px;
    width: 250px;
}
#group1
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}
#leader 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    margin-bottom: 20px;
}
#leader, #patients, #appointments, #doctors 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
}
.sec4_right h3
{
    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}
.sec4_right p
{
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    margin: 0 0 10px;
}
.group2
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#appointments
{
    margin-bottom: 20px;
}
.section5 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
}
.section5 h3 
{
    font-size: 2.15em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
}
.section5 p 
{
    margin: 1.6em 0;
    line-height: 1.7;
    text-align: center;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #747474;
}
.section6 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: center;
}
.section6 div 
{
    border-radius: 3%;
    margin: 0.44%;
}
.bruh
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.bruh div:hover 
{
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
}
div .buttons {
    display: flex;
    justify-content: space-between;
}
.section6 div 
{
    border-radius: 3%;
    margin: 0.44%;
}
.section6 p 
{
    font-size: medium;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}
.section6 button 
{
    margin-top: 0.5cm;
    display: flex;
    gap: 2cm;
    justify-content: center;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Roboto, Arial, sans-serif;
    margin-right: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
button, select 
{
    text-transform: none;
}
button 
{
    overflow: visible;
}
.section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section7 h1 
{
    font-size: 2.1em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
}
.section7 button 
{
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
}
footer {
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
}
#last_pain
{
    margin-top: 20px;
}